/* .contactForm{
    display: block;
    max-width: 900px;
    padding: 35px;
    flex-direction: column;
    box-shadow: 0px 1px  4px rgba(86, 114, 110, 0.856); 
    background-color:  rgba(243, 247, 247, 0.783);
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 65px;
  
}
.formLabel{
    position: relative;
    display: flex;
    flex-direction: column;
   max-width: 660px;
    font-size: 23px;
    font-weight: 600;
    color: rgb(40, 39, 39); 
    color: rgb(56, 54, 54); 
}


.formLabel:not(:first-child){
    margin-top: 25px;
}
.formInput{
    font-size: 20px;
    padding: 13px 13px 13px 47px;
    margin-top: 10px;
    width: 830px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 1px 2px 0px  rgba(107, 169, 174, 0.989); 
}
.formInput:focus {
    border-color: transparent;
    box-shadow: 0px 1px 4px 1px  rgba(125, 204, 223, 0.989);
  }

  
.formAddBtn{
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 20px;
    margin-top: 45px;
    border-radius: 4px;
     color: rgb(68, 68, 68); 
   background-color: rgba(99, 212, 240, 0.989);
  
     border-color: transparent;
     box-shadow: 0px 1px 2px 1px  rgba(107, 169, 174, 0.989); 
    cursor: pointer;
    letter-spacing: 0.5px;
}
.formAddBtn:hover{
    background-color:rgba(122, 223, 249, 0.989);
    box-shadow: 0px 1px 3px 1px  rgba(107, 169, 174, 0.989); 
}


    .iconPhone {
        position: absolute;
        left: 15px; 
        top: 56px; 
        transform: translateY(-50%);
        color: rgb(87, 87, 87);
      } */