.contactForm{
    /* display: flex; */
    display: block;
    max-width: 700px;
    padding: 35px 20px;
    flex-direction: column;
    /* margin-top: 15px; */
    border: 2px solid black;
}
.formLabel{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    width: 250px;
    font-size: 23px;
    font-weight: 600;
}

/* .formLabel:not(first-child){
    margin-top: 20px; 
} */
.formLabel:not(:first-child){
    margin-top: 20px;
}
.formInput{
    font-size: 20px;
    padding: 5px;
    margin-top: 7px;
    width: 480px;
    /* height: 25px; */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.formInput:focus {
    border-color: rgb(198, 198, 253);
    box-shadow: 0px 1px 4px 1px  rgb(169, 169, 170);
  }
.formAddBtn{
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 4px;
    border-color: rgb(198, 198, 253);
    color: rgb(44, 44, 44);
    box-shadow: 0px 1px 4px 1px  rgb(169, 169, 170);
    cursor: pointer;
}
.formAddBtn:hover{
    background-color: rgb(211, 211, 249);
}