/* .userMenuContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.welcomeText {
    font-weight: 600;
    font-size: 20px;
  }

  .userMenuBtn{
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    width: 100px;
    padding: 13px 12px;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(238, 248, 250, 0.989);
    border: 2px solid  rgba(99, 212, 240, 0.989);
    color: rgb(40, 39, 39); 
    cursor: pointer;
}

 .userMenuBtn:hover,
 .userMenuBtn:focus{
    background-color: rgba(99, 212, 240, 0.989);
    box-shadow: 0px 1px 2px 1px  rgba(107, 169, 174, 0.989);
} */